.grid-container {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(
      0px,
      1fr
    );
}

.box {
  padding: 1em;
}

.header {
  display: block;
  grid-column: 2/8;
  background-color: black;
  height: 50px;
}

.feature {
  display: grid;
  grid-column: 2/8;
  height: 300px;
  background-color: grey;
}

.imageone {
  grid-column: 2/8;
  height: 300px;
  background-image: url("https://files.shapes.inc/api/files/avatar_f124c926-be62-410b-ac1a-e7c690c6df5f.png");
  background-size: 100% 100%;
}

.blurbone {
  grid-column: 1/5;
  height: 200px;
  background-color: black;
}

.subimage {
  grid-column: 5/8;
  background-color: rgb(100, 94, 94);
  height: 200px;
}

.nav {
  background-color: grey;
}
