body {
  background-color: #ffffff;
  color: #666666;
  font-family: Arial;
}

header {
  background-color: #003058;
  color: #ffffff;
  font-family: Georgia;
}

header h1 {
  height: 140%;
  padding: 0.5rem;
}

nav {
  font-weight: bold;
  color: #F3F3F3;
}

h2 {
  color: #424242;
  font-family: Georgia;
}

dt {
  color: #003058;
  font-weight: bold;
}

.ut {
  color: #ba1c21;
  font-weight: bold;
}

footer {
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
