body {
  background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-attachment: fixed;
  color: #666666;
  font-family: Arial;
}

header {
  background-color: #003058;
  color: #ffffff;
  font-family: Georgia;
}

header h1 {
  height: 140%;
  padding: 0.5rem;
}

h1 {
  background-image: url("assets/utahtechlogo.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 1em;
  background-origin: content-box;
  margin-bottom: 0;
}

nav {
  font-weight: bold;
  color: #f3f3f3;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

h2 {
  color: #424242;
  font-family: Georgia;
}

dt {
  color: #003058;
  font-weight: bold;
}

.ut {
  color: #ba1c21;
  font-weight: bold;
}

footer {
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
  padding: 1rem;
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  min-width: 960;
  max-width: 2048;
  box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}

h3 {
  color: #003058;
}

main {
  padding: 0 2rem 0 2rem;
}

#homehero {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(assets/homehero.jpg);
}

#studenthero {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(assets/studenthero.jpg);
}

#facultyhero {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(assets/facultyhero.jpg);
}

nav a {
  text-decoration: none;
}
